@import "../../../scss/index.scss";

.calendario-list {
  &__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ant-btn-primary {
      margin-left: 15px;
    }
  }

  &__content {
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 20px;

    .event-info {
      display: flex;

      &__date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 20px;
        margin: 5px 20px 5px 10px;
        text-align: center;

        background-color: $primary-color-hover;
        -webkit-box-shadow: 0px 7px 15px 1px rgba(60, 60, 60, 0.3);
        box-shadow: 0px 7px 15px 1px rgba(60, 60, 60, 0.3);
        border-radius: 5px;
        h4 {
          color: #fff;
        }
      }

      &__content {
        h2 {
          font-size: 22px;
          margin: 0 0 10px 0;
        }

        p {
          margin: 4px 0;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .calendario-list {
    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .ant-btn-primary {
        width: 100%;
        margin: 10px;
      }
    }

    &__content {
      .event-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__date {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          padding: 5px;
          margin: 5px;
          text-align: center;

          border-radius: 5px;
          h4 {
            width: 100%;
          }
        }

        &__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 10px;
          h2 {
            font-size: 20px;
            margin: 0 0 10px 0;
          }

          p {
            margin: 4px 0;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
