@import "../../../../scss/index.scss";

.navbar {
   position: sticky;
   z-index: 95;
   top: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 75px;
   font-size: 1rem;

   border-bottom: 0.5px solid $font-grey-light;

   background-image: linear-gradient(
      to right top,
      #000000,
      #0d0d0d,
      #161616,
      #1d1d1d,
      #242424,
      #262628,
      #28282b,
      #2a2a2f,
      #262730,
      #202432,
      #182233
   );
   opacity: 0.9;

   padding-left: 10%;
   padding-right: 10%;

   a,
   img {
      position: relative;
      right: 10px;
      z-index: 90;
      padding: 5px;

      height: 100%;

      @media (max-width: 960px) {
      }
   }
}
