@import "../../../scss/index.scss";

.home-avisos {
  background-color: $color-6;
  padding: 20px;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;

  h2 {
    color: #fff;
  }
  p {
    margin: 0;
  }

  .ant-collapse-header {
    font-weight: bold;
    text-align: left;
  }
}

@media screen and (min-width: 600px) {
  .home-avisos {
    padding: 20px 15%;
    width: 100%;
    padding-bottom: 40px;

    .ant-collapse-header {
      font-weight: bold;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1020px) {
  .home-avisos {
    padding: 20px 25%;
    padding-bottom: 40px;
    width: 100%;
  }
}
