@import "../../../../scss/index.scss";

.home-posts {
   padding: 20px;
   margin: 20px;
   background-color: #fff;
   border-radius: 10px;

   .ant-list-item {
      border-bottom: 1px solid $border-grey-light;
   }

   .home-post-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      margin: 5px 0;
      transition: all 0.6s;

      &:hover {
         h4 {
            transition: all 0.6s;
            color: $primary-color-hover;
         }
      }

      &__image {
         img {
            max-width: 80px;
         }
      }

      &__content {
         margin-left: 10px;
         transition: all 0.6s;

         h4 {
            font-size: 18px;
            transition: all 0.6s;
         }

         p {
            margin: 0;
            color: $font-grey-dark;
         }
      }
   }

   &__link {
      a {
         display: flex;
         flex-wrap: nowrap;

         justify-content: center;
         font-size: 1rem;

         width: 60%;
         min-width: 250px;
         height: auto;
         margin: 25px auto 20px auto;
         // width: 70vw;

         text-decoration: none;
         text-align: center;

         cursor: pointer;
         border: none;

         background: $color-6;
         border: 1px solid $color-6;
         border-radius: 60px;
         //   height: 200px;
         //   width: 500px;
         padding: 10px;
         color: #fff;
         font-weight: bold;
         box-shadow: 0px 1px 4px rgba(139, 139, 139, 0.65);

         transition: all 1s;

         svg {
            margin-right: 5px;
            font-size: 1.5rem;
         }

         &:hover {
            background: $primary-color-hover;
            color: $color-6;
            transition: all 1s;

            -webkit-box-shadow: 3px 9px 15px -5px rgba(0, 0, 0, 0.6);
            box-shadow: 3px 9px 15px -5px rgba(0, 0, 0, 0.6);

            // padding: 1.5rem 3.5rem 1.5rem 1.5rem;

            &::after {
               opacity: 1;
               transition: all 1s;
            }
         }
      }
   }
}

@media screen and (min-width: 760px) {
   .home-posts {
      padding: 20px;
      margin: 20px 10%;
      background-color: #fff;
      border-radius: 10px;

      .home-post-item {
         &__image {
            img {
               max-width: 120px;
            }
         }

         &__content {
            margin-left: 15px;
         }
      }
   }
}

@media screen and (min-width: 1020px) {
   .home-posts {
      padding: 20px 30px;
      margin: 50px 10%;
      background-color: #fff;
      border-radius: 20px;

      .home-post-item {
         &__image {
            img {
               max-width: 150px;
            }
         }

         &__content {
            margin-left: 15px;
         }
      }
   }
}
