@import "../scss/index.scss";

.reset-password-web {
  padding: 50px 25px;

  h2 {
    text-align: center;
  }

  p,
  ul {
    margin-left: 10px;
    color: $font-grey !important;
  }

  .ant-form {
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 5px;
    background-color: #fff;
    border-radius: 10px;
  }
}

@media screen and (min-width: 760px) {
  .reset-password-web {
    padding: 50px 15%;

    .ant-form {
      padding: 40px;
      padding-top: 50px;
      padding-bottom: 5px;
    }
  }
}

@media screen and (min-width: 1020px) {
  .reset-password-web {
    padding: 50px 25%;
  }
}
