@import "../../../scss/index.scss";

.registro-misas {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;

    .buttons-registro {
      display: flex;
      flex-direction: column;
    }

    .ant-btn {
      margin: 10px 15px;
      transition: all 0.7s;
      width: 100%;

      svg {
        transition: all 0.7s;
      }

      // &:hover {
      //   transition: all 0.7s;

      //   svg {
      //     transition: all 0.5s;
      //     margin-right: 10px;
      //   }
      // }
    }
  }
}

@media screen and (max-width: 780px) {
  .registro-misas {
    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .ant-btn {
        margin: 10px auto;
        width: 100%;
      }
    }
  }
}
