@import "../../../../scss/index.scss";

.misa-form {
  display: flex;
  flex-direction: column;

  .ant-form-item {
    margin: 10px;
  }

  .ant-btn-primary {
    width: 100%;
  }

  &__categoria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;

    .categoria-details {
      display: flex;
    }
  }

  &__left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__input {
    text-align: center;
  }
  &__days {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 780px) {
}
