@import "../../../scss/index.scss";

.home3-banner {
   width: 100%;
   height: 120%;
   overflow: hidden;
   position: relative;
   top: 20px;
   border: none;
   padding: 5px;
   z-index: 1;
   margin-bottom: 20px;

   .hom3-background-image {
      position: absolute;
      top: 1px;
      right: 0px;
      width: 100%;
      height: 99%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border: none;
      z-index: 0;
   }

   .hom3-overlay-up {
      position: absolute;
      left: -20px;
      top: 0%;
      // bottom: -270px;
      width: 150%;
      height: 13vh;
      background: $background-color-general;
      transform-origin: top left;
      transform: rotate(-8deg);
      z-index: 2;
      box-shadow: 0 0 1px 0 #ffffff inset, 0 0 1px 0 #ffffff;
   }

   .hom3-overlay {
      position: absolute;
      left: -20px;
      top: 99%;
      // bottom: -270px;
      width: 150%;
      height: 13vh;
      background: $background-color-general;
      transform-origin: top left;
      transform: rotate(-8deg);
      z-index: 2;
      box-shadow: 0 0 1px 0 #ffffff inset, 0 0 1px 0 #ffffff;
   }

   .home3 {
      position: relative;
      left: 0;
      top: 10px;
      width: 100%;
      height: 100%;
      z-index: 2;
      padding: 20px;
      text-align: center;
      margin: 80px 0;

      .ant-col {
         margin: 50px 0px;

         .anticon {
            font-size: 3rem;
            margin-bottom: 10px;
            color: $color-1;
         }

         h2 {
            color: $color-1;
         }

         p {
            margin-bottom: 25px;
            color: $font-grey-light;
            padding: 0 15px;
         }

         a {
            margin-top: 10px;
            text-decoration: none;
            cursor: pointer;
            border: 1px solid #fff;
            background: transparent;
            color: $primary-color-hover;

            //   height: 200px;
            //   width: 500px;
            padding: 10px 30px;

            transition: all 0.5s;

            &:hover {
               background: $primary-color-hover;
               transition: all 0.5s;

               -webkit-box-shadow: 3px 9px 15px -5px rgba(0, 0, 0, 0.6);
               box-shadow: 3px 9px 15px -5px rgba(0, 0, 0, 0.6);
               color: $color-6;

               // padding: 1.5rem 3.5rem 1.5rem 1.5rem;

               &::after {
                  opacity: 1;
                  transition: all 0.5s;
               }
            }
         }
      }
   }
}

// iPad Vertical
@media screen and (min-width: 760px) {
}

// iPad Horizontal
@media screen and (min-width: 1020px) {
   .home3-banner {
      top: 20px;
      padding: 40px 10px;

      .hom3-background-image {
         top: 1px;
         right: 0px;
         width: 100%;
         height: 99%;
         background-position: center center;
      }

      .hom3-overlay-up {
         position: absolute;
         left: -20px;
         top: -4px;
         // bottom: -270px;
         width: 150%;
         height: 13vh;

         transform-origin: top left;
         transform: rotate(-4deg);
         z-index: 2;
      }

      .hom3-overlay {
         position: absolute;
         left: -20px;
         top: 99%;
         // bottom: -270px;
         width: 150%;
         height: 13vh;

         transform-origin: top left;
         transform: rotate(-4deg);
         z-index: 2;
      }

      .home3 {
         position: relative;
         left: 0;
         top: 10px;
         width: 100%;
         height: 100%;
         z-index: 2;
         padding: 30px 20px;
         text-align: center;
         margin: 80px 0;

         .ant-col {
            margin: 50px 0px;
         }
      }
   }
}

// Large Screen
@media screen and (min-width: 1280px) {
   .home3-banner {
      top: 0px;
      padding: 0;

      .hom3-overlay-up {
         display: none;
      }

      .hom3-overlay {
         display: none;
      }

      .home3 {
         position: relative;
         left: 0;
         top: 10px;
         width: 100%;
         height: 100%;
         z-index: 2;
         padding: 30px 10%;
         text-align: center;
         margin: 80px 0;

         .ant-col {
            margin: 50px 0px;
         }
      }
   }
}
