@import "../scss/index.scss";

.layout-admin {
   transition: margin-left 0.5s;

   &__header {
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      padding: 0;

      height: 65px;
      background-color: $footer-color;
   }

   &__content {
      width: 100%;
      min-height: calc(100vh - 65px);
      padding: 90px 25px 25px 25px;
   }

   &__footer {
      text-align: center;
      padding: 20px;
      color: $font-grey;
   }
}
